@import '../../styles/variables';

.Timer-Slider {
  .Control-bullet-container {
    padding: 0 $OFFSET 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }

  .Course-info-cards {
    display: flex;
  }

  .Course-info-card-holder {
    box-sizing: border-box;
    border-right: 1px solid $BORDER_COLOR;
    position: relative;
    height: 340px;
    width: 33.32%;
    overflow: hidden;
    margin: 0;

    &:nth-of-type(3) {
      border: none;
    }

    .Course-info-card {
      position: absolute;
      width: 100%;
      transform: translateX(100%);
      transition: transform 0.4s linear;
    }
  }
}
