@import "../../styles/variables";

.Control-bullet {
  display: flex;
  flex-wrap: nowrap;
  margin-right: 40px;
  cursor: pointer;

  &_active {
    & .Control-bullet__bullet {
      background-color: $BG_COLOR;
      border: 1px solid $BORDER_COLOR;
      transition: background-color 0.3s ease-out;

      & img {
        transform: translate3d(-50%, -50%, 0) rotate(45deg);
        transition: transform 0.4s linear;
      }
    }

    & .Control-bullet__progress {
      animation: timeoutOrange 8s linear forwards;
    }
  }

  &:hover {
    & .Control-bullet__bullet {
      &::before {
        transition: transform 0.3s ease-out;
        transform: translateY(0);
      }
    }
  }

  &__progress {
    width: 40px;
    height: 40px;
    @include centeredAbsolutely();
    overflow: visible;
    stroke-dasharray: 150;
    stroke-dashoffset: 0;
  }

  &__bullet {
    width: 38px;
    height: 38px;
    position: relative;
    float: left;
    clear: both;
    background-color: $BG_GRAY;
    transition: background-color 0.3s ease-out;
    border-radius: 50%;
    overflow: hidden;

    & img {
      @include centeredAbsolutely();
    }

    &::before {
      content: "";
      width: 38px;
      height: 38px;
      background: $ORANGE;
      position: absolute;
      top: 0;
      left: 0;
      transition: transform 0.3s ease-out;
      transform: translateY(100%);
    }
  }

  &__text-content {
    float: right;
    clear: right;
    margin-left: 20px;
    small {
      color: $PALE_FONT;
      font-size: 13px;
      display: block;
    }

    span {
      font-size: 16px;
      text-transform: capitalize;
      font-weight: 500;
      line-height: 32px;
    }
  }
}

@media screen
and (min-width: #{$MOBILE_MIN_WIDTH})
and (max-width: #{$MOBILE_MAX_WIDTH})
and (orientation: portrait) {
  .Control-bullet {
    &__bullet {
      &::before {
        display: none;
      }
    }
  }
}
