@import "../../styles/variables";

.Control-bullet {
  display: flex;
  flex-wrap: nowrap;
  margin-right: 40px;

  &__progress {
    width: 39px;
    height: 39px;
    @include centeredAbsolutely();

    stroke-dasharray: 100;
  }

  &__bullet {
    width: 38px;
    height: 38px;
    position: relative;
    float: left;
    clear: both;
    background-color: $BG_GRAY;
    border-radius: 50%;

    & img {
      @include centeredAbsolutely();
    }
  }

  &__text-content {
    float: right;
    clear: right;
    margin-left: 20px;
    small {
      color: $PALE_FONT;
      font-size: 13px;
      display: block;
    }

    span {
      font-size: 16px;
      text-transform: capitalize;
      font-weight: 500;
      line-height: 32px;
    }
  }

  &.clicked {
    &__bullet {
      background: transparent;
    }

    &__progress {
      // animate dasharray
    }
  }

}
