@import '../../styles/variables';

.Web-template-slider {
  display: flex;
  width: 80%;
  box-sizing: border-box;
  height: 100%;
  margin-left: auto;

  &__slide-container {
    display: inline;
    width: 22% !important;
  }

  & .react-swipe-container {
    height: 100% !important;
    width: 100% !important;

    div {
      display: flex;
      height: 100% !important;
    }
  }
}

@media screen
and (min-width: #{$LAPTOP_MIN_WIDTH})
and (max-width: #{$LAPTOP_MAX_WIDTH}) {
  .Web-template-slider {
    width: 80%;
  }
}
