@import '../../../styles/variables';

.Complete-service-screen {
  height: calc(100vh - #{$HEADER_HEIGHT});
  box-sizing: border-box;
  padding: 50px 20px 30px $OFFSET;
  overflow: hidden;

  &__illustration {
    overflow: hidden;
    height: calc(100% + 100px);
    width: 350px;
    position: absolute;
    right: 20%;
    bottom: 0;

    img {
      position: absolute;
      top: 30px;
    }
  }

  &__intro-controls {
    height: $UPPER_PART_HEIGHT;
    position: relative;
    border-bottom: 1px solid $BORDER_COLOR;

    h3 {
      margin: 0;
      font-size: $TITLE_FONT_SIZE;
      line-height: $TITLE_LINE_HEIGHT;
      letter-spacing: -1px;
      font-weight: 500;

      span {
        display: block;
      }
    }

    p {
      margin-top: 20px;
      color: $PALE_FONT;
      line-height: $SMALL_LINE_HEIGHT;
      font-size: $SMALL_FONT_SIZE;

      span {
        display: block;
      }
    }
  }

  &__controls {
    display: flex;
    box-sizing: border-box;
    padding: 50px 0;

    .Control-bullet {
      margin-right: 90px;
      &__text-content span {
        font-size: 13px;
      }
    }
  }

  &__steps {
    height: calc(100% - #{$UPPER_PART_HEIGHT});
    padding: 90px 0;

    section {
      display: flex;
      height: 60%;
      flex-wrap: wrap;
      box-sizing: border-box;
      padding-right: 40px;

      .Numerical-category {
        display: flex;
        flex-direction: column;
        width: calc(100% / 4);
        margin: 0;
        & small {
          margin-left: 0;
        }
      }
    }

    .Button-ellipse:nth-of-type(2) {
      margin-left: 15px;
    }
  }
}

@media screen
and (min-width: #{$MOBILE_MIN_WIDTH})
and (max-width: #{$MOBILE_MAX_WIDTH})
and (orientation: portrait) {
  .Complete-service-screen {
    height: auto;
    padding: $OFFSET_MOBILE;

    &__intro-controls {
      h3,
      h3 span {
        font-size: $TITLE_MOBILE_SIZE;
        line-height: $TITLE_MOBILE_HEIGHT;
      }
    }

    &__illustration {
      display: none;
    }

    &__controls {
      justify-content: space-between;
      .Control-bullet {
        margin: 0;
      }
    }

    &__steps {
      padding: 30px 0 0;

      section {
        padding: 0;

        .Numerical-category {
          flex-direction: row;
          width: calc(100% / 2);
          margin-top: 30px;

          small {
            box-sizing: border-box;
            padding-right: 6px;
            margin: 2px 8px 0 16px;
            font-size: 12px;
          }
        }
      }
    }

    .Button-ellipse {
      margin-top: 20px;
      box-sizing: border-box;

      &:nth-of-type(1) {
        margin-top: 50px;
        width: 100%;
      }
      &:nth-of-type(2) {
        margin-left: 0;
        width: 170px;
      }
    }
  }
}

@media screen
and (min-width: #{$TABLET_MIN_WIDTH})
and (max-width: #{$TABLET_MAX_WIDTH}) {
  .Complete-service-screen {
    padding: 50px 20px 30px $OFFSET_TABLET;

    &__illustration {
      right: 5%;
      bottom: -10%;
      width: 320px;
    }
  }
}

@media screen
and (max-width: #{$TABLET_MAX_WIDTH})
and (orientation: landscape) {
  .Complete-service-screen {
    &__illustration {
      height: 100%;
      bottom: auto;
    }
    &__controls {
      padding: 10px 0 0;
    }
  }
}
