@import '../../../styles/variables';

.Intro-screen {
  height: 100vh;
  position: relative;
  box-sizing: border-box;

  &__text-content {
    height: calc(100% - #{$VIDEO_HEIGHT});
    width: 100%;
    box-sizing: border-box;
    padding: 80px 30px 30px $OFFSET;
    position: relative;
    min-height: 490px;

    & .Button-ellipse {
      position: absolute;
      right: 30px;
      bottom: 30px;
      padding-right: 15px;
    }
  }

  &__video-section {
    height: $VIDEO_HEIGHT;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
      position: absolute;
      object-fit: cover;
    }
  }
}

@media screen
and (min-width: #{$MOBILE_MIN_WIDTH})
and (max-width: #{$MOBILE_MAX_WIDTH})
and (orientation: portrait) {
  .Intro-screen {
    height: auto;
    max-width: 100vw;
    box-sizing: border-box;
    &__text-content {
      height: auto;
      padding: 80px $OFFSET_MOBILE;
      min-height: auto;
    }

    .Numerical-categories {
      display: none;
    }
    .Button-ellipse {
      position: relative;
      margin-top: 50px;
      bottom: auto;
      right: auto;
    }

    &__video-section {
      height: $VIDEO_MOB_HEIGHT;
      overflow: hidden;
    }
  }
}

@media screen
and (min-width: #{$TABLET_MIN_WIDTH})
and (max-width: #{$TABLET_MAX_WIDTH}) {
  .Intro-screen {
    &__text-content {
      padding: 100px 30px 30px $OFFSET_TABLET;

      .Numerical-categories {
        width: 100%;
        position: relative;
        bottom: 0;
        top: 50px;
        .Numerical-category {
          margin: 0 0 0 60px;
          &:nth-of-type(1) {
            margin: 0;
          }
        }
      }
      .Button-ellipse {
        right: auto;
        left: $OFFSET_TABLET;
      }
    }
  }
}

@media screen
and (max-width: #{$TABLET_MAX_WIDTH})
and (orientation: landscape) {
  .Intro-screen {
    &__text-content {
      .Button-ellipse {
        left: auto;
        right: 30px;
        bottom: 40px;
      }
    }
  }
}
