@import '../../../styles/variables';

.Text-container {
  font-size: 15px;
  font-weight: 500;

  &__title {
    font-size: $TITLE_FONT_SIZE;
    line-height: $TITLE_LINE_HEIGHT;
    letter-spacing: -1px;
    font-weight: 500;
    margin: 0;

    span {
      display: block;
    }
  }

  &__intro {
    color: $PALE_FONT;
    margin: 50px 0;
    line-height: 22px;

    span {
      display: block;
    }
  }

  h3 {
    span {
      display: block;
    }
  }

  &__scroll-tip {
    color: $PALE_FONT;
    display: inline-block;

    & span {
      &:nth-of-type(1) {
        border-radius: 50%;
        width: 26px;
        height: 26px;
        float: left;
        text-align: center;
        background: #e6e6e6;
        position: relative;
        margin-right: 10px;

        &::after {
          content: url('../../../../static/images/black-arrow.svg');
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate3d(-50%, -50%, 0);
        }
      }

      &:nth-of-type(2) {
        position: relative;
        top: 4px;
      }
    }
  }
}

@media screen
and (min-width: #{$MOBILE_MIN_WIDTH})
and (max-width: #{$MOBILE_MAX_WIDTH})
and (orientation: portrait) {
  .Text-container {
    &__title {
      font-size: $TITLE_MOBILE_SIZE;
      line-height: $TITLE_MOBILE_HEIGHT;
    }

    &__intro {
      margin: 20px 0;
      font-size: 13px;
      line-height: 20px;
    }
  }
}

@media screen
and (min-width: #{$TABLET_MIN_WIDTH})
and (max-width: #{$TABLET_MAX_WIDTH}) {
  .Text-container {
    &__title {
      font-size: $TITLE_TABLET_SIZE;
      line-height: $TITLE_TABLET_HEIGHT;
    }
  }
}
