@import "../../../styles/variables";

.Top-courses-screen {
  height: 100vh;
  position: relative;
  margin-top: $HEADER_HEIGHT;

  &__text-content {
    height: 55vh;
    width: 100%;
    box-sizing: border-box;
    padding: 90px 30px 30px $OFFSET;
    position: relative;
    min-height: 460px;

    & .Text-container__intro {
      margin: 30px 0;
    }
  }

  .Timer-slider {
    height: 45vh;
  }
}

@media screen
and (min-width: #{$MOBILE_MIN_WIDTH})
and (max-width: #{$MOBILE_MAX_WIDTH})
and (orientation: portrait) {
  .Top-courses-screen {
    height: auto;
    margin-top: 0;
    box-sizing: border-box;

    &__text-content {
      padding: $OFFSET_MOBILE;
      min-height: auto;
      height: auto;
    }

    .Control-bullet-container {
      display: none;
    }

    .Course-info-cards {
      flex-direction: column;

      .Course-info-card {
        width: 92%;
        margin: 20px auto;
        border: $BORDER_COLOR 1px solid;
        overflow: hidden;

        &:nth-of-type(1) {
          margin-top: 0;
        }

        &__illustration {
          min-width: 100%;
          width: auto;
        }
      }
    }
  }
}

@media screen
and (min-width: #{$TABLET_MIN_WIDTH})
and (max-width: #{$TABLET_MAX_WIDTH}) {
  .Top-courses-screen {
    &__text-content {
      padding: 90px 30px 30px $OFFSET_TABLET;
    }

    .Control-bullet-container {
      padding: 0 $OFFSET_TABLET 50px;
    }
    .Course-info-cards {
      .Course-info-card {
        &__description {
          h5 {
            max-width: 80%;
          }
        }
      }
    }
  }
}
