@import '../../../styles/variables';

.Top-posts-screen {
  height: calc(100vh - #{$HEADER_HEIGHT});
  position: relative;

  & .Top-posts-screen__illustration {
    height: 100%;
    position: absolute;
    bottom: -40%;
    pointer-events: none;
  }

  & .Screen-footer {
    height: 20vh;
    display: flex;
    min-height: 140px;

    &__open-hub {
      width: 50%;
      background: $ORANGE;
      padding: 20px;
      position: relative;

      .Button-ellipse {
        position: absolute;
        right: 20px;
        bottom: 20px;
      }

      small {
        color: white;
        opacity: 0.6;
      }

      span {
        font-size: 16px;
        color: $CARDS_BG;
        position: absolute;
        bottom: 20px;
        left: 20px;
        width: 150px;
        line-height: 22px;
        font-weight: 400;
      }
    }

    &__open-posts {
      width: 50%;
      padding: 20px;
      position: relative;
      background: $BG_GRAY;

      span {
        font-size: $SMALL_FONT_SIZE;
        color: $PALE_FONT;
        display: inline-block;
        width: 150px;
        line-height: 18px;
      }

      p {
        position: absolute;
        bottom: 16px;
        left: 20px;
        margin: 0;
        font-size: 40px;
        vertical-align: center;
        small {
          position: absolute;
          top: -10px;
          right: -35px;
          color: $ORANGE;
        }
      }

      .Button-ellipse {
        position: absolute;
        right: 20px;
        bottom: 20px;
      }
    }
  }

  &__text-content {
    height: calc(80vh - #{$HEADER_HEIGHT});
    overflow: hidden;
    position: relative;
  }

  .Text-container {
    width: 530px;
    margin: 50px auto 0;
    display: block;
    height: 100%;
    box-sizing: border-box;
    padding: 100px 0;
    text-align: center;
    position: relative;

    &__slider-label {
      display: inline-block;
      margin: 0 auto 30px;
      color: $PALE_FONT;
      font-size: 13px;
      text-transform: capitalize;
      font-weight: 400;
    }

    .Posts-slider {
      height: 80%;
      min-height: 240px;
      position: relative;

      &__slide {
        position: absolute;
        width: 100%;
        height: 100%;
      }

      h3 {
        font-size: 40px;
        font-weight: 500;
        width: 250px;
        margin: auto;
      }

      .Control-arrows {
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }

    & .Author {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}

@media screen
and (min-width: #{$MOBILE_MIN_WIDTH})
and (max-width: #{$MOBILE_MAX_WIDTH})
and (orientation: portrait) {
  .Top-posts-screen {
    height: auto;

    &__text-content {
      height: auto;
    }

    .Text-container {
      width: 100%;
      padding: 0;

      &__slider-label {
        margin: 0;
      }

      .Posts-slider {
        margin-top: 20px;
        height: 240px;

        h3 {
          font-size: $TITLE_MOBILE_SIZE;
          line-height: $TITLE_MOBILE_HEIGHT;
        }
      }
    }

    &__illustration {
      display: none;
    }

    .Screen-footer {
      height: auto;
      flex-direction: column;
      display: flex;
      margin-top: 30px;
      min-height: 140px;

      &__open-hub,
      &__open-posts {
        height: 140px;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

      &__open-hub {
        span {
          font-size: 13px;
          line-height: 20px;
        }
      }

      &__open-posts {
        p {
          font-size: $TITLE_MOBILE_SIZE;
          line-height: $TITLE_MOBILE_HEIGHT;
        }
      }
    }
  }
}

@media screen
and (min-width: #{$LAPTOP_MIN_WIDTH})
and (max-width: #{$LAPTOP_MAX_WIDTH}) {
  .Top-posts-screen {
    .Text-container {
      z-index: 1;
    }

    &__illustration {
      left: -40px;
      height: 95%;
      z-index: 0;
    }
  }
}

@media screen
and (min-width: #{$LAPTOP_MIN_WIDTH})
and (max-width: #{$LAPTOP_MAX_WIDTH}) {
  .Top-posts-screen {
    .Text-container {
      .Posts-slider {
        h3,
        h3 span {
          font-size: $TITLE_LAPTOP_SIZE;
          line-height: $TITLE_LAPTOP_HEIGHT;
        }
      }
    }
  }
}

@media screen
and (min-width: #{$TABLET_MIN_WIDTH})
and (max-width: #{$TABLET_MAX_WIDTH}) {
  .Top-posts-screen {
    .Text-container {
      .Posts-slider {
        height: 65%;

        h3 {
          font-size: $TITLE_TABLET_SIZE;
          line-height: $TITLE_TABLET_HEIGHT;
        }
      }
    }
    & .Top-posts-screen__illustration {
      height: 80%;
      left: -50px;
    }
  }
}
