@import '../../../styles/variables';

.Web-template-screen {
  position: relative;
  background: $BG_GRAY;
  height: calc(100vh - #{$HEADER_HEIGHT});
  display: flex;
  flex-wrap: nowrap;

  &__intro-text {
    width: $TEMPLATES_INTRO_WIDTH;
    background: white;
    position: relative;

    .Text-container {
      @include centeredAbsolutely();
      top: 40%;

      text-align: center;
      margin: auto;
      width: 60%;
      height: 240px;
      display: flex;
      flex-direction: column;
      overflow: visible;

      h3 {
        font-size: $TITLE_FONT_SIZE;
        line-height: $TITLE_LINE_HEIGHT;
        margin: 0 auto 65px;
        font-weight: 500;
      }

      &__to-shopping {
        display: flex;
        justify-content: space-between;

        small {
          color: $PALE_FONT;
          font-size: $SMALL_FONT_SIZE;
          font-weight: 400;
          margin-top: 16px;
        }

        .Button-ellipse {
          height: 11px;
        }
      }
    }
  }

  &__illustration {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__slider-section {
    height: 100%;
    width: calc(100% - #{$TEMPLATES_INTRO_WIDTH});
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    padding: 100px 0;

    .Control-arrows {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2;
      margin: 30px;
    }

    .Web-template-slider {
      z-index: 1;
    }
  }
}

@media screen
and (min-width: #{$MOBILE_MIN_WIDTH})
and (max-width: #{$MOBILE_MAX_WIDTH})
and (orientation: portrait) {
  .Web-template-screen {
    height: auto;
    flex-direction: column;

    &__illustration {
      height: 50%;
    }

    &__intro-text {
      width: 100%;
      height: 400px;
      overflow: hidden;

      .Text-container {
        width: 80%;
        height: 80%;
        top: 50%;

        &__to-shopping {
          small {
            display: none;
          }
        }

        .Button-ellipse_orange {
          margin: auto;
        }

        h3 {
          margin: 50px auto 30px;
        }

        h3,
        h3 span {
          font-size: $TITLE_MOBILE_SIZE;
          line-height: $TITLE_MOBILE_HEIGHT;
        }
      }
    }

    &__slider-section {
      display: none;
    }
  }
}

@media screen
and (min-width: #{$LAPTOP_MIN_WIDTH})
and (max-width: #{$LAPTOP_MAX_WIDTH})
and (orientation: portrait) {
  .Web-template-screen {
    &__intro-text {
      .Text-container {
        h3,
        h3 span {
          font-size: $TITLE_LAPTOP_SIZE;
          line-height: $TITLE_LAPTOP_HEIGHT;
        }
      }
    }
  }
}

@media screen
and (min-width: #{$TABLET_MIN_WIDTH})
and (max-width: #{$TABLET_MAX_WIDTH})
and (orientation: portrait) {
  .Web-template-screen {
    flex-direction: column;

    &__illustration {
      width: auto;
      height: 90%;
    }

    &__intro-text {
      width: 100%;
      height: 50vh;
      .Text-container {
        top: 55%;

        h3,
        h3 span {
          font-size: $TITLE_TABLET_SIZE;
          line-height: $TITLE_TABLET_HEIGHT;
        }
      }
    }

    &__slider-section {
      width: 100%;
    }

    .Web-template-slider {
      width: 80%;

      &__slide-container {
        width: 26% !important;
      }
    }
  }
}

@media screen
and (max-width: #{$TABLET_MAX_WIDTH})
and (orientation: landscape) {
  .Web-template-screen {
    &__slider-section {
      .Web-template-slider {
        &__slider-container {
          width: 33% !important;
        }
      }
    }
  }
}
// width: 33% !important;
